<%- include('partials/html-start.ejs') %>
  <link rel="stylesheet" href="/Styles/styles.css">


  <h1>Welcome to Brody's Job App</h1>

  <h2>
    Current Jobs: <%= jobData.length %>
  </h2>

<!-- Card to add job with origin and todo for the job -->
  <div class="container-fluid">
    <div class="row">
      <div class="col d-flex justify-content-center col-md-3">
        <div class="card m-8 bg-secondary text-white">
          <div class="card-body">
            <h3>Add a New Job</h3>
            <form method="POST" action="/addJob">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input name="jobName" placeholder="New job name">
              <input name="origin" placeholder="Job origin">
              <input name="todo" placeholder="To-Do for the job">
              <input type="submit" value="Add a new job" />
            </form>
          </div>
        </div>
      </div>

      <!-- Card that displays the job and button to delete it -->
      <div class="col d-flex justify-content-center" class="col-md-3">
        <div class="container-fluid">
          <div class="card m-4 bg-secondary text-white">
            <h4 class="card-title">Brody's Jobs</h4>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Job Name</th>
                    <th scope="col">Origin</th>
                    <th scope="col">To-Do</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (var i=0; i < jobData.length; i++) { %>
                    <tr>
                      <td>
                        <%= jobData[i].jobName %>
                      </td>
                      <td>
                        <%= jobData[i].origin %>
                      </td>
                      <td>
                        <%= jobData[i].todo %>
                      </td>
                      <td>
                        <form method="POST" action="/deleteJob">
                          <input type="hidden" name="devId" value="<%= jobData[i]._id %>">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <button class="btn btn-danger" type="submit">Delete Job</button>
                        </form>
                      </td>
                    </tr>
                    <% } %>
                </tbody>
              </table>
            </div>
            </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Ole Footer -->
  <div>
    <footer class="mt-5 p-4 bg-dark text-white text-center">
      <p>
        <a href="https://gist.github.com/barrycumbie/978e0a8f517669733f61d44008e6924c" class="card-link"
          target="quebec">|🏰 QUEBEC Lab 🏰|</a>
        <a href="https://gist.github.com/barrycumbie/bbf76cb219a3e7579de1607d7e91fceb" class="card-link"
          target="cis486">|🚀 CIS 486 🚀|</a>
        <a href="https://github.com/bcoan2" class="card-link" target="github">|😀 My Github Profile 😀|</a>
        <a href="https://www.codecademy.com/profiles/bcoan2" class="card-link" target="codecademy">|🎓 My Codecademy
          Profile 🎓|</a>
        <a href="https://www.linkedin.com/in/brody-coan-185925269/" class="card-link" target="linkedin">|💻 My LinkedIn
          💻|</a>
      </p>
    </footer>
  </div>

  <%- include('partials/html-end.ejs') %>